@model IEnumerable<Frontend_TDP.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Empresas</h1>
<br />
<p>
    <!--<a asp-action="Create">Create New</a>-->
    <a href="/Empresa/Create"><input type="button" class="btn btn-primary" value="Agregar"></a>
</p>
<table class="table table-bordered">
    <thead class="table-dark text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idEmpresaCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.razonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.idEmpresaCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.razonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                <button type="button" value="Editar" class="btn btn-warning">
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                </button>

                <button type="button" value="Detalle" class="btn btn-info">
                    @Html.ActionLink("Details", "Details", new { id = item.idEmpresaCliente })
                </button>

                <button type="button" value="Eliminar" class="btn btn-danger">
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </button>
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
