@model Frontend_TDP.Models.Despacho

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles despacho</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idDespacho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idDespacho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaDespacho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaDespacho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccionEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccionEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idSolicitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idSolicitante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idRecepcionista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idRecepcionista)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
