@model IEnumerable<Frontend_TDP.Models.Solicitud>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Solicitudes</h1>
<br />
<p>
    <a href="/Solicitud/Create"><input type="button" class="btn btn-primary" value="Crear solicitud"></a>
</p>

<div style="overflow-x:auto;">
    <table class="table table-bordered table-sm table-striped" cellspacing="0" width="120%">
        <thead class="table-dark text-center">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.idDespacho)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaDespacho)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.direccionEntrega)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.observacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idSolicitante)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idRecepcionista)
                </th>
                <th>
                    editar
                </th>
                <th>
                    eliminar
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        <button type="button" value="Detalle" class="btn btn-primary">
                            @Html.ActionLink("-", "Details", new { /* id=item.PrimaryKey */ })
                            @Html.DisplayFor(modelItem => item.idDespacho)
                        </button>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaDespacho)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.direccionEntrega)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.observacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idSolicitante)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idRecepcionista)
                    </td>
                    <td>
                        <button type="button" value="Editar" class="btn btn-outline-primary">
                            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ })
                        </button>
                    </td>
                    <td>
                        <button type="button" value="Eliminar" class="btn btn-outline-danger">
                            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>